body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	line-height: 1.6em;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

label{
	display: inline-block;
	width: 180px;
}

input[type='text']{
	width: 97%;
	padding: 4px;
	border-radius: 25px;
	size: 40%;
	border:1px #ccc solid;
}

input[type='number']{
	width: 50px;
	padding: 4px;
	border-radius: 5px;

	border:1px #ccc solid;
}

.container{
	width: 60%;
	margin: 0 auto;
	overflow: auto;
	color: black;
	height:40%;
}
/* .cont{
	width: 60%;
	margin: 0 auto;
	overflow: auto;
} */
/* header login page */
header{
	/* border-bottom: 3px #272726 solid; */
	background: #508abb;
	color: white;
	height: fit-content;
	padding-bottom: 0.5%;
}

a.add {
	display: inline-block;
	color: #666;
	background: #f4f4f4;
	border-left: 7px #272726 solid;
	padding:6px 13px;
	position: right;
}
/* copyright */
footer{
	/* border-top: 3px #272726 solid; */
	background: #508abb;
	color: #FFFFFF;
	text-align: center;
	height: min-content;
}

/* //email and password */
main{
	padding-bottom: 20px;
	background: #e5f5ff;
	color: white;
	padding-top: 3%;
	padding-bottom: 15%;
	height: fit-content;
}

/* buttons   */
a.start{
	display: inline-block;
	color: #000000;
	background: #FFFFFF;
	font-size: 18px;
	border-left: 7px #272726 solid;
	padding:2px 10px;
}
/* question header?\ */
.current{
	padding:10px;
	background: #508abb;
	border-left: 10px #272726 solid;
	margin: 20px 0 10px 0;
}

@media only screen and (max-width: 960px){
	.container{
		width: 60%;
	}
}
